<script>
    URLs= [];
</script>

    <script>URLs.push('/game/100-meters-race.html');</script>

    <script>URLs.push('/game/3d-bowling.html');</script>

    <script>URLs.push('/game/4th-and-goal-2019.html');</script>

    <script>URLs.push('/game/8-ball-billiards-classic.html');</script>

    <script>URLs.push('/game/8-ball-pool-billiards-multiplayer.html');</script>

    <script>URLs.push('/game/a-small-world-cup-snk.html');</script>

    <script>URLs.push('/game/air-hockey-cup.html');</script>

    <script>URLs.push('/game/air-hockey-glow.html');</script>

    <script>URLs.push('/game/archery-master.html');</script>

    <script>URLs.push('/game/archery-world-tour.html');</script>

    <script>URLs.push('/game/axis-football-league.html');</script>

    <script>URLs.push('/game/bad-soccer-manager.html');</script>

    <script>URLs.push('/game/base-jump-wing-suit-flying.html');</script>

    <script>URLs.push('/game/baseball-pro.html');</script>

    <script>URLs.push('/game/baseball.html');</script>

    <script>URLs.push('/game/basket-ball.html');</script>

    <script>URLs.push('/game/basket-battle-zmg.html');</script>

    <script>URLs.push('/game/basket-blitz.html');</script>

    <script>URLs.push('/game/basket-champs.html');</script>

    <script>URLs.push('/game/basket-monsterz.html');</script>

    <script>URLs.push('/game/basket-random.html');</script>

    <script>URLs.push('/game/basket-slam-dunk-2.html');</script>

    <script>URLs.push('/game/basket-swooshes-plus.html');</script>

    <script>URLs.push('/game/basketball-clash.html');</script>

    <script>URLs.push('/game/basketball-dunkshot.html');</script>

    <script>URLs.push('/game/basketball-frvr.html');</script>

    <script>URLs.push('/game/basketball-league.html');</script>

    <script>URLs.push('/game/basketball-legends-2020.html');</script>

    <script>URLs.push('/game/basketball-serial-shooter.html');</script>

    <script>URLs.push('/game/basketball-skills.html');</script>

    <script>URLs.push('/game/basketball-stars-2019.html');</script>

    <script>URLs.push('/game/basketball-superstars.html');</script>

    <script>URLs.push('/game/basketbros.html');</script>

    <script>URLs.push('/game/beach-ball.html');</script>

    <script>URLs.push('/game/bicycle-kick-champ.html');</script>

    <script>URLs.push('/game/billiards-pool-8.html');</script>

    <script>URLs.push('/game/billiards.html');</script>

    <script>URLs.push('/game/blast-billiards-4.html');</script>

    <script>URLs.push('/game/blast-billiards.html');</script>

    <script>URLs.push('/game/bomb-roll.html');</script>

    <script>URLs.push('/game/bounce-blocku-golf.html');</script>

    <script>URLs.push('/game/bouncy-dunk.html');</script>

    <script>URLs.push('/game/bowlin-go-frvr.html');</script>

    <script>URLs.push('/game/bowling-champion.html');</script>

    <script>URLs.push('/game/bowling.html');</script>

    <script>URLs.push('/game/bowman-2.html');</script>

    <script>URLs.push('/game/bowman.html');</script>

    <script>URLs.push('/game/boxing-random.html');</script>

    <script>URLs.push('/game/boxing-stars.html');</script>

    <script>URLs.push('/game/boxing.html');</script>

    <script>URLs.push('/game/carball-io.html');</script>

    <script>URLs.push('/game/cg-fc-24.html');</script>

    <script>URLs.push('/game/chess-clicker-lhi.html');</script>

    <script>URLs.push('/game/chess-free.html');</script>

    <script>URLs.push('/game/chess-master.html');</script>

    <script>URLs.push('/game/chess-nations.html');</script>

    <script>URLs.push('/game/chess-online-multiplayer-game.html');</script>

    <script>URLs.push('/game/chess-wars.html');</script>

    <script>URLs.push('/game/chessformer.html');</script>

    <script>URLs.push('/game/classic-bowling.html');</script>

    <script>URLs.push('/game/crazy-flips-3d.html');</script>

    <script>URLs.push('/game/crazy-parkour.html');</script>

    <script>URLs.push('/game/cricket-frvr.html');</script>

    <script>URLs.push('/game/cricket-superstar-league.html');</script>

    <script>URLs.push('/game/cricket-world-cup.html');</script>

    <script>URLs.push('/game/cue-billiard-club.html');</script>

    <script>URLs.push('/game/darts-club.html');</script>

    <script>URLs.push('/game/darts-idle.html');</script>

    <script>URLs.push('/game/dodgeball.html');</script>

    <script>URLs.push('/game/draw-bridges.html');</script>

    <script>URLs.push('/game/drop-kick-world-cup-2018.html');</script>

    <script>URLs.push('/game/drunken-boxers.html');</script>

    <script>URLs.push('/game/epic-basketball.html');</script>

    <script>URLs.push('/game/espn-arcade-baseball.html');</script>

    <script>URLs.push('/game/fast-ball-jump.html');</script>

    <script>URLs.push('/game/field-goal-frvr.html');</script>

    <script>URLs.push('/game/fight-arena-online.html');</script>

    <script>URLs.push('/game/finger-soccer-world-cup-multiplayer.html');</script>

    <script>URLs.push('/game/fiveheads-soccer.html');</script>

    <script>URLs.push('/game/flappy-dunk.html');</script>

    <script>URLs.push('/game/flip-goal.html');</script>

    <script>URLs.push('/game/flipped-chain-dunk.html');</script>

    <script>URLs.push('/game/flipper-dunk-3d.html');</script>

    <script>URLs.push('/game/foosball-3d.html');</script>

    <script>URLs.push('/game/foot-chinko-russia-2018.html');</script>

    <script>URLs.push('/game/foot-chinko.html');</script>

    <script>URLs.push('/game/free-kick-classic.html');</script>

    <script>URLs.push('/game/free-kick-underground-v3.html');</script>

    <script>URLs.push('/game/frutball.html');</script>

    <script>URLs.push('/game/funny-ragdoll-wrestlers.html');</script>

    <script>URLs.push('/game/goalkeeper-wiz.html');</script>

    <script>URLs.push('/game/golf-adventures-2.html');</script>

    <script>URLs.push('/game/golf-orbit.html');</script>

    <script>URLs.push('/game/golf-quest.html');</script>

    <script>URLs.push('/game/grow-in-the-hole.html');</script>

    <script>URLs.push('/game/gully-cricket.html');</script>

    <script>URLs.push('/game/gym-heros-fighting-game.html');</script>

    <script>URLs.push('/game/hill-climb-on-moto-bike.html');</script>

    <script>URLs.push('/game/hoop-world-3d.html');</script>

    <script>URLs.push('/game/horse-racing-derby-quest.html');</script>

    <script>URLs.push('/game/idle-football-manager.html');</script>

    <script>URLs.push('/game/international-super-animal-soccer.html');</script>

    <script>URLs.push('/game/jump-up-3d-basketball-game.html');</script>

    <script>URLs.push('/game/jump-up-3d-mini-basketball.html');</script>

    <script>URLs.push('/game/knight-of-chess.html');</script>

    <script>URLs.push('/game/league-bowling.html');</script>

    <script>URLs.push('/game/mafia-billiard-tricks.html');</script>

    <script>URLs.push('/game/master-chess.html');</script>

    <script>URLs.push('/game/mini-caps-soccer.html');</script>

    <script>URLs.push('/game/mini-car-ball.html');</script>

    <script>URLs.push('/game/mini-golf-18.html');</script>

    <script>URLs.push('/game/mini-golf-club.html');</script>

    <script>URLs.push('/game/mini-putt-3.html');</script>

    <script>URLs.push('/game/mini-putt.html');</script>

    <script>URLs.push('/game/mma-manager-2.html');</script>

    <script>URLs.push('/game/noob-basketball-clicker.html');</script>

    <script>URLs.push('/game/parkour-first-person.html');</script>

    <script>URLs.push('/game/pegball-frvr.html');</script>

    <script>URLs.push('/game/penalty-fever.html');</script>

    <script>URLs.push('/game/penalty-kick-wiz.html');</script>

    <script>URLs.push('/game/penalty-rivals.html');</script>

    <script>URLs.push('/game/penalty-shooters-2.html');</script>

    <script>URLs.push('/game/penalty-shooters-3.html');</script>

    <script>URLs.push('/game/penalty-shooters.html');</script>

    <script>URLs.push('/game/penalty-shootout-multi-league.html');</script>

    <script>URLs.push('/game/penalty-superstar.html');</script>

    <script>URLs.push('/game/pill-soccer.html');</script>

    <script>URLs.push('/game/pongoal.html');</script>

    <script>URLs.push('/game/pool-8.html');</script>

    <script>URLs.push('/game/pool-bubbles.html');</script>

    <script>URLs.push('/game/pool-club.html');</script>

    <script>URLs.push('/game/pool-hustlers.html');</script>

    <script>URLs.push('/game/pool-rush-frvr.html');</script>

    <script>URLs.push('/game/power-badminton.html');</script>

    <script>URLs.push('/game/pro-bowling.html');</script>

    <script>URLs.push('/game/psg-soccer-freestyle-hgj.html');</script>

    <script>URLs.push('/game/punch-hero.html');</script>

    <script>URLs.push('/game/punchers.html');</script>

    <script>URLs.push('/game/qb-legend.html');</script>

    <script>URLs.push('/game/ragdoll-fight.html');</script>

    <script>URLs.push('/game/ragdoll-soccer-2-players.html');</script>

    <script>URLs.push('/game/ragdoll-throw-challenge.html');</script>

    <script>URLs.push('/game/real-fishing-simulator.html');</script>

    <script>URLs.push('/game/return-man-2-zombies.html');</script>

    <script>URLs.push('/game/return-man-2.html');</script>

    <script>URLs.push('/game/riders-downhill-racing.html');</script>

    <script>URLs.push('/game/rogue-dunk-viy.html');</script>

    <script>URLs.push('/game/rooney-on-the-rampage.html');</script>

    <script>URLs.push('/game/royal-pool.html');</script>

    <script>URLs.push('/game/russian-checkers-free.html');</script>

    <script>URLs.push('/game/santa-vs-skritch.html');</script>

    <script>URLs.push('/game/scoring-champion.html');</script>

    <script>URLs.push('/game/soccar.html');</script>

    <script>URLs.push('/game/soccer-bros.html');</script>

    <script>URLs.push('/game/soccer-clicker.html');</script>

    <script>URLs.push('/game/soccer-dash.html');</script>

    <script>URLs.push('/game/soccer-duel.html');</script>

    <script>URLs.push('/game/soccer-europe-quiz.html');</script>

    <script>URLs.push('/game/soccer-legends-2021.html');</script>

    <script>URLs.push('/game/soccer-masters-euro-2020.html');</script>

    <script>URLs.push('/game/soccer-merge.html');</script>

    <script>URLs.push('/game/soccer-random.html');</script>

    <script>URLs.push('/game/sparkchess.html');</script>

    <script>URLs.push('/game/speedy-golf.html');</script>

    <script>URLs.push('/game/sport-minibattles.html');</script>

    <script>URLs.push('/game/sports-heads-soccer.html');</script>

    <script>URLs.push('/game/sports-hero.html');</script>

    <script>URLs.push('/game/sprinter.html');</script>

    <script>URLs.push('/game/stick-figure-badminton.html');</script>

    <script>URLs.push('/game/stickman-beach-volleyball.html');</script>

    <script>URLs.push('/game/stickman-tennis-3d.html');</script>

    <script>URLs.push('/game/stormy-kicker.html');</script>

    <script>URLs.push('/game/street-ball-jam.html');</script>

    <script>URLs.push('/game/street-freekick-3d.html');</script>

    <script>URLs.push('/game/table-tennis-world-tour.html');</script>

    <script>URLs.push('/game/tanuki-sunset.html');</script>

    <script>URLs.push('/game/tap-tap-shots.html');</script>

    <script>URLs.push('/game/tennis-game.html');</script>

    <script>URLs.push('/game/tennis-masters.html');</script>

    <script>URLs.push('/game/the-best-russian-billiards.html');</script>

    <script>URLs.push('/game/tracesoccer-ubc.html');</script>

    <script>URLs.push('/game/volley-random.html');</script>

    <script>URLs.push('/game/wonderputt.html');</script>

    <script>URLs.push('/game/world-cup-penalty.html');</script>

    <script>URLs.push('/game/wrestle-bros.html');</script>

    <script>URLs.push('/game/yahoo-tennis.html');</script>

    <script>URLs.push('/game/100-golf.html');</script>

    <script>URLs.push('/game/12-mini-battles-2.html');</script>

    <script>URLs.push('/game/12-minibattles.html');</script>

    <script>URLs.push('/game/2-minute-football.html');</script>

    <script>URLs.push('/game/4th-and-goal-2018.html');</script>

    <script>URLs.push('/game/4th-and-goal-2020.html');</script>

    <script>URLs.push('/game/4th-and-goal-2022.html');</script>

    <script>URLs.push('/game/4th-and-goal-2023.html');</script>

    <script>URLs.push('/game/4th-and-goal-2024.html');</script>

    <script>URLs.push('/game/9-ball-pool.html');</script>

    <script>URLs.push('/game/a-small-world-cup.html');</script>

    <script>URLs.push('/game/air-hockey-championship-deluxe.html');</script>

    <script>URLs.push('/game/american-football-challenge.html');</script>

    <script>URLs.push('/game/american-football-real.html');</script>

    <script>URLs.push('/game/animals-volleyball.html');</script>

    <script>URLs.push('/game/apple-knight-golf.html');</script>

    <script>URLs.push('/game/aqua-thrills.html');</script>

    <script>URLs.push('/game/athletics-hero.html');</script>

    <script>URLs.push('/game/badminton-stars.html');</script>

    <script>URLs.push('/game/baseball-kid-pitcher-cup.html');</script>

    <script>URLs.push('/game/basket-swooshes.html');</script>

    <script>URLs.push('/game/basketball-line.html');</script>

    <script>URLs.push('/game/basketball-stars.html');</script>

    <script>URLs.push('/game/battle-golf.html');</script>

    <script>URLs.push('/game/big-shot-boxing.html');</script>

    <script>URLs.push('/game/blumgi-ball.html');</script>

    <script>URLs.push('/game/blumgi-soccer.html');</script>

    <script>URLs.push('/game/bouncy-basketball.html');</script>

    <script>URLs.push('/game/bouncy-dunks.html');</script>

    <script>URLs.push('/game/bowling-stars.html');</script>

    <script>URLs.push('/game/boxing-fighter-shadow-battle.html');</script>

    <script>URLs.push('/game/boxing-physics-2.html');</script>

    <script>URLs.push('/game/bumper-cars-soccer.html');</script>

    <script>URLs.push('/game/burnin-rubber-crash-n-burn.html');</script>

    <script>URLs.push('/game/casual-chess.html');</script>

    <script>URLs.push('/game/chess-grandmaster.html');</script>

    <script>URLs.push('/game/city-rider.html');</script>

    <script>URLs.push('/game/classic-chess.html');</script>

    <script>URLs.push('/game/climb-fling.html');</script>

    <script>URLs.push('/game/court-kings-3d.html');</script>

    <script>URLs.push('/game/crazy-freekick.html');</script>

    <script>URLs.push('/game/cricket-hero.html');</script>

    <script>URLs.push('/game/cricket-superstar.html');</script>

    <script>URLs.push('/game/cyber-cars-punk-racing.html');</script>

    <script>URLs.push('/game/cyberpunk-ninja-runner.html');</script>

    <script>URLs.push('/game/darts-pro.html');</script>

    <script>URLs.push('/game/dreadhead-parkour.html');</script>

    <script>URLs.push('/game/ducklife-2.html');</script>

    <script>URLs.push('/game/dunk-perfect.html');</script>

    <script>URLs.push('/game/dunkbrush.html');</script>

    <script>URLs.push('/game/dunkers-2.html');</script>

    <script>URLs.push('/game/dunkers.html');</script>

    <script>URLs.push('/game/euro-kick-tournament.html');</script>

    <script>URLs.push('/game/flicking-soccer.html');</script>

    <script>URLs.push('/game/flip-runner.html');</script>

    <script>URLs.push('/game/flipper-dunk.html');</script>

    <script>URLs.push('/game/foosball.html');</script>

    <script>URLs.push('/game/football-blitz.html');</script>

    <script>URLs.push('/game/football-legends.html');</script>

    <script>URLs.push('/game/football-masters.html');</script>

    <script>URLs.push('/game/football-penalty-champions.html');</script>

    <script>URLs.push('/game/footballwars-online.html');</script>

    <script>URLs.push('/game/footyzag.html');</script>

    <script>URLs.push('/game/free-kick-screamers.html');</script>

    <script>URLs.push('/game/free-kick-shooter.html');</script>

    <script>URLs.push('/game/full-metal-football.html');</script>

    <script>URLs.push('/game/girp.html');</script>

    <script>URLs.push('/game/goal-training.html');</script>

    <script>URLs.push('/game/goalkeeper-challenge.html');</script>

    <script>URLs.push('/game/golf-champions.html');</script>

    <script>URLs.push('/game/golf-zero.html');</script>

    <script>URLs.push('/game/golfinity.html');</script>

    <script>URLs.push('/game/golfparty-io.html');</script>

    <script>URLs.push('/game/gp-moto-racing.html');</script>

    <script>URLs.push('/game/grand-mini-slam.html');</script>

    <script>URLs.push('/game/grand-prix-hero.html');</script>

    <script>URLs.push('/game/gravity-soccer.html');</script>

    <script>URLs.push('/game/gym-masters.html');</script>

    <script>URLs.push('/game/heads-arena-euro-soccer.html');</script>

    <script>URLs.push('/game/heads-arena-soccer-all-stars.html');</script>

    <script>URLs.push('/game/hockeystars.html');</script>

    <script>URLs.push('/game/hydro-storm-two.html');</script>

    <script>URLs.push('/game/icycle.html');</script>

    <script>URLs.push('/game/idle-success.html');</script>

    <script>URLs.push('/game/infinite-soccer.html');</script>

    <script>URLs.push('/game/javelin-fighting.html');</script>

    <script>URLs.push('/game/jollyworld.html');</script>

    <script>URLs.push('/game/joyrider.html');</script>

    <script>URLs.push('/game/jr-chess.html');</script>

    <script>URLs.push('/game/kickflip-santa.html');</script>

    <script>URLs.push('/game/kingpin-bowling.html');</script>

    <script>URLs.push('/game/kix-dream-soccer.html');</script>

    <script>URLs.push('/game/kori-walk.html');</script>

    <script>URLs.push('/game/let-will-grigg-play.html');</script>

    <script>URLs.push('/game/linebacker-alley-2.html');</script>

    <script>URLs.push('/game/little-master-cricket.html');</script>

    <script>URLs.push('/game/mad-cars-racing-and-crash.html');</script>

    <script>URLs.push('/game/malletmania.html');</script>

    <script>URLs.push('/game/midnight-drive.html');</script>

    <script>URLs.push('/game/minibattles-survivor.html');</script>

    <script>URLs.push('/game/minibattles.html');</script>

    <script>URLs.push('/game/moto-x3m.html');</script>

    <script>URLs.push('/game/my-pony-my-little-race.html');</script>

    <script>URLs.push('/game/ovo-classic.html');</script>

    <script>URLs.push('/game/ovo-dimensions.html');</script>

    <script>URLs.push('/game/panenka.html');</script>

    <script>URLs.push('/game/parkour-race.html');</script>

    <script>URLs.push('/game/penalty-challenge.html');</script>

    <script>URLs.push('/game/penalty-kicks.html');</script>

    <script>URLs.push('/game/penalty-shooters-x.html');</script>

    <script>URLs.push('/game/perfect-dunk.html');</script>

    <script>URLs.push('/game/ping-pong-chaos.html');</script>

    <script>URLs.push('/game/ping-pong-go.html');</script>

    <script>URLs.push('/game/ping-pong-html5.html');</script>

    <script>URLs.push('/game/pixel-volley.html');</script>

    <script>URLs.push('/game/pocket-hockey.html');</script>

    <script>URLs.push('/game/pool-merge-io.html');</script>

    <script>URLs.push('/game/pool.html');</script>

    <script>URLs.push('/game/prison-punch.html');</script>

    <script>URLs.push('/game/punch-legend-simulator.html');</script>

    <script>URLs.push('/game/puppet-soccer-challenge.html');</script>

    <script>URLs.push('/game/rally-champion.html');</script>

    <script>URLs.push('/game/rally-point-3.html');</script>

    <script>URLs.push('/game/real-cars-in-city.html');</script>

    <script>URLs.push('/game/real-tennis.html');</script>

    <script>URLs.push('/game/retro-bowl-college.html');</script>

    <script>URLs.push('/game/retro-bowl.html');</script>

    <script>URLs.push('/game/rocket-soccer-derby.html');</script>

    <script>URLs.push('/game/rowdy-city-wrestling.html');</script>

    <script>URLs.push('/game/rowdy-wrestling.html');</script>

    <script>URLs.push('/game/rugby-rush.html');</script>

    <script>URLs.push('/game/simplyupio.html');</script>

    <script>URLs.push('/game/skateboard-hero.html');</script>

    <script>URLs.push('/game/skiing-fred.html');</script>

    <script>URLs.push('/game/sling-world-cup.html');</script>

    <script>URLs.push('/game/slopey.html');</script>

    <script>URLs.push('/game/smashy-duo.html');</script>

    <script>URLs.push('/game/smoots-tennis-first-serve.html');</script>

    <script>URLs.push('/game/soccer-skills-champions-league.html');</script>

    <script>URLs.push('/game/soccer-skills-euro-cup.html');</script>

    <script>URLs.push('/game/soccer-skills-world-cup.html');</script>

    <script>URLs.push('/game/speed-pool-king.html');</script>

    <script>URLs.push('/game/spooky-squashers.html');</script>

    <script>URLs.push('/game/sprint-league.html');</script>

    <script>URLs.push('/game/squad-goals.html');</script>

    <script>URLs.push('/game/stickman-bike-pr.html');</script>

    <script>URLs.push('/game/stickman-bike.html');</script>

    <script>URLs.push('/game/stickman-boxing-ko-champion.html');</script>

    <script>URLs.push('/game/stickman-school-run.html');</script>

    <script>URLs.push('/game/stock-car-hero.html');</script>

    <script>URLs.push('/game/street-dribble.html');</script>

    <script>URLs.push('/game/streetfight-king-of-the-gang.html');</script>

    <script>URLs.push('/game/sumo-party.html');</script>

    <script>URLs.push('/game/super-bike-the-champion.html');</script>

    <script>URLs.push('/game/super-liquid-soccer.html');</script>

    <script>URLs.push('/game/super-mx-last-season.html');</script>

    <script>URLs.push('/game/super-mx-the-champion.html');</script>

    <script>URLs.push('/game/super-star-car.html');</script>

    <script>URLs.push('/game/super-tunnel-rush.html');</script>

    <script>URLs.push('/game/superbattle-2.html');</script>

    <script>URLs.push('/game/superbike-hero.html');</script>

    <script>URLs.push('/game/swimming-pro.html');</script>

    <script>URLs.push('/game/swipe-basketball.html');</script>

    <script>URLs.push('/game/tag-2.html');</script>

    <script>URLs.push('/game/tag.html');</script>

    <script>URLs.push('/game/tap-tricks.html');</script>

    <script>URLs.push('/game/tennis-hero.html');</script>

    <script>URLs.push('/game/throw-it-higher.html');</script>

    <script>URLs.push('/game/tiny-fishing.html');</script>

    <script>URLs.push('/game/tinytownracing.html');</script>

    <script>URLs.push('/game/totems-of-tag.html');</script>

    <script>URLs.push('/game/touchdown-rush.html');</script>

    <script>URLs.push('/game/touchdowners.html');</script>

    <script>URLs.push('/game/tumble-wrestling.html');</script>

    <script>URLs.push('/game/ultimate-boxing.html');</script>

    <script>URLs.push('/game/ultimate-swish.html');</script>

    <script>URLs.push('/game/under-the-red-sky.html');</script>

    <script>URLs.push('/game/unicycle-hero.html');</script>

    <script>URLs.push('/game/unicycle-legend.html');</script>

    <script>URLs.push('/game/water-polo-ragdoll.html');</script>

    <script>URLs.push('/game/watercraft-rush.html');</script>

    <script>URLs.push('/game/we-skate.html');</script>

    <script>URLs.push('/game/winner-vs-loser.html');</script>

    <script>URLs.push('/game/world-wrestling-23.html');</script>

    <script>URLs.push('/game/wrassling.html');</script>

    <script>URLs.push('/game/xtreme-furball.html');</script>

    <script>URLs.push('/game/zomball.html');</script>


<script>
    url= URLs[Math.floor(Math.random()* URLs.length)];
    console.log("url", url);
    window.location= url;
</script>
