body {
  background: #05509a;
  min-height: calc(100vh - 100px);
}

.main.tag-page {
  min-height: calc(100vh - 150px);
}

.menu {
  background: #2583ff;
  height: 70px;
  z-index: 2;
  position: sticky;
  top: 0;
}

span.text-menu {
  font-family: Oswald, sans-serif;
  font-size: 14px;
}

.logo {
  width: 163px;
  height: 113px;
}

.nav-link {
  width: 137px;
  height: 90px;
}

.nav-link:hover {
  background: url("../../assets/img/bg_arrow.png")left bottom no-repeat;
  background-position-x: 14px;
  color: red !important;
}

.icon-arrow {
  background: url("../../assets/img/icon-arrow.png") no-repeat;
  width: 14px;
  height: 9px;
}

.tooltip-txt {
  background: #2583ff;
  font-family: Oswald, sans-serif;
  font-size: 13px;
  height: 33px;
  line-height: 33px;
  border-radius: 5px;
  padding: 0 18px;
}

.tooltip-box, .search-box {
  display: none;
}

li.nav-item:hover .tooltip-box, li.nav-item:hover .search-box {
  display: block;
}

.item-cate {
  display: none;
}

.navbar .container {
  --bs-gutter-x: 0;
}

.search-box {
  position: absolute;
  right: 22px;
  width: 200px;
}

@media (min-width: 1400px) {
  .homepage.container {
    max-width: 1200px;
  }
}

.game-item {
  position: relative;
}

.featured-icon {
  background: url(../../assets/img/featured_icon.png) no-repeat;
}

.featured-icon, .new-icon {
  width: 65px;
  height: 65px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.game-item img {
  border-radius: 10px;
  border: 2px solid rgb(255,255,255) ;
  /*min-height: 160px;*/
  /*height: 160px;*/
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.game-item a:hover img {
  border: 2px solid #2583ff;
}

.name {
  font-size: 13px;
  display: none;
  position: absolute;
  bottom: -15px;
  width: 100%;
  border-radius: 0 0 10px 0;
  height: 30px;
  line-height: 30px;
}

.game-item a:hover .name {
  display: block;
  background: #2583ff;
  color: #fff;
}

.game-item a {
  color: #fff;
  text-decoration: none;
}

footer {
  background: #2583ff;
}

footer .left-text a, footer .right-text a {
  border-right: 1px solid white;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

footer a, footer span {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

footer .left-text a:last-child, footer .right-text a:last-child {
  border: none;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

.tag-bg {
  background: #42a8ff;
  border-radius: 10px;
}

.tag-bg a {
  text-decoration: none;
  color: white;
}

.tag-name-type {
  font-family: Oswald, sans-serif;
}

.total {
  font-size: 12px;
}

.tag {
  border-radius: 10px;
}

.tag-link:hover .tag {
  background: #2583ff;
}

.tag-image img {
  border-radius: 6px;
}

@media (max-width: 992px) {
  .left-text, .right-text {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .tag-page.container, .main .container {
    max-width: 1000px;
  }
}

.title-col {
  font-size: 12px;
  color: var(--bs-white);
}

.similar {
  display: none;
}

.game-infor {
  background: #42a8ff;
  border-radius: 5px;
}

.game-title {
  height: 35px;
  border-bottom: 1px dotted white;
}

.home, .back {
  float: left;
  width: 25px;
  height: 25px;
  background: url("../../assets/img/icon-home.png") no-repeat;
}

.back {
  background: url("../../assets/img/icon-back.png");
}

.icon-ball {
  float: left;
  width: 19px;
  height: 27px;
  background: url("../../assets/img/icon-ball.png") no-repeat;
}

.game-title span {
  font-size: 18px;
  font-family: Oswald, sans-serif;
  color: var(--bs-white);
  float: left;
  line-height: 30px;
}

.zoom, .replay {
  float: left;
  width: 18px;
  height: 18px;
  background: url("../../assets/img/icon-zoom.png") no-repeat;
}

.replay {
  background: url("../../assets/img/icon-replay.png") no-repeat;
}

.gameplay {
  position: relative;
  height: 530px;
  overflow: hidden;
  width: 100%;
}

.gameplay-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(45px);
}

.gameplay-ava {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: url("../../assets/img/gameplay-logo.jpg");
  background-size: 240px;
  background-position: 50% 50%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
}

.gameplay-button {
  position: absolute;
  width: 220px;
  height: 55px;
  background: -webkit-linear-gradient(#aed409,#77952b);
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 52px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.gameplay-button:hover {
  background: #77952b;
}

.gameplay-title {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right,rgba(30,87,153,0) 0,rgba(0,0,0,.3) 50%,rgba(125,185,232,0) 100%);
  text-shadow: 1px 1px #505050;
  color: white;
  font-size: 23px;
  font-weight: 700;
}

.desc {
  background: #42a8ff;
  border-radius: 5px;
}

.game-desc {
  height: 185px;
  overflow-y: auto;
}

.game-desc::-webkit-scrollbar {
  width: 8px;
}

.game-desc::-webkit-scrollbar-track {
  background: #0073dd;
  border-radius: 10px;
}

.game-desc::-webkit-scrollbar-thumb {
  background: #32bbf9;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .desc-txt {
    margin-top: 0 !important;
  }
}

@media (min-width: 576px) {
  .game-desc {
    height: 135px;
  }
}

@media (min-width: 992px) {
  .game-desc {
    height: 220px;
  }
}

.similar-list {
  background: #42a8ff;
  border-radius: 5px;
}

.title-similar {
  font-size: 16px;
  font-family: Oswald, sans-serif;
  border-left: 4px solid #ffda19 ;
  text-indent: 10px;
}

.similar-list .game-item a:hover img {
  border: 2px solid #fc0;
}

.similar-list .game-item a:hover .name {
  display: block;
  background: #fc0;
  color: #035193;
}

.desc, .similar-list {
  display: none;
}

